{% extends 'layout/base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}

            <div class="cool">Cecile Philippe </div>
            <div class="menu">
                    <a href="" style="color:black;" >Mon Github</a>
                    <a href="" style="color:black;">Mon Instagram</a>
                    <a href="" style="color:black;">Mon Facebook</a>
                    <a href="" style="color:black;">Mon Twitter</a>
            </div>
            
{% endblock %}
