{% extends 'layout/base.html.twig' %}

{% block title %}Test temp{% endblock %}

{% block body %}

            <div class="cool">Cecile Philippe </div>
            <div class="menu">
                    <a href="" style="color:black;" >Mon Github</a>
                    <a href="" style="color:black;">Mon Instagram</a>
                    <a href="" style="color:black;">Mon Facebook</a>
                    <a href="" style="color:black;">Mon Twitter</a>
            </div>
            <div class="container">
                    <div class="row">
                      
                      <div class="col-md-3 ">
                          <div class="sticky">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tenetur itaque nam cupiditate exercitationem dolorem dolorum modi voluptatem corporis, expedita mollitia voluptate dolores laboriosam id. A error dolor commodi deleniti.
                          </div>
                        </div>
                        <div class="col-md-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tenetur itaque nam cupiditate exercitationem dolorem dolorum modi voluptatem corporis, expedita mollitia voluptate dolores laboriosam id. A error dolor commodi deleniti.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tenetur itaque nam cupiditate exercitationem dolorem dolorum modi voluptatem corporis, expedita mollitia voluptate dolores laboriosam id. A error dolor commodi deleniti.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tenetur itaque nam cupiditate exercitationem dolorem dolorum modi voluptatem corporis, expedita mollitia voluptate dolores laboriosam id. A error dolor commodi deleniti.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tenetur itaque nam cupiditate exercitationem dolorem dolorum modi voluptatem corporis, expedita mollitia voluptate dolores laboriosam id. A error dolor commodi deleniti.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tenetur itaque nam cupiditate exercitationem dolorem dolorum modi voluptatem corporis, expedita mollitia voluptate dolores laboriosam id. A error dolor commodi deleniti.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tenetur itaque nam cupiditate exercitationem dolorem dolorum modi voluptatem corporis, expedita mollitia voluptate dolores laboriosam id. A error dolor commodi deleniti.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tenetur itaque nam cupiditate exercitationem dolorem dolorum modi voluptatem corporis, expedita mollitia voluptate dolores laboriosam id. A error dolor commodi deleniti.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tenetur itaque nam cupiditate exercitationem dolorem dolorum modi voluptatem corporis, expedita mollitia voluptate dolores laboriosam id. A error dolor commodi deleniti.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tenetur itaque nam cupiditate exercitationem dolorem dolorum modi voluptatem corporis, expedita mollitia voluptate dolores laboriosam id. A error dolor commodi deleniti.
                        </div>
                        <div class="col-md-3">
                            <div class="sticky">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tenetur itaque nam cupiditate exercitationem dolorem dolorum modi voluptatem corporis, expedita mollitia voluptate dolores laboriosam id. A error dolor commodi deleniti.
                                <div>
                                <i class="fab fa-facebook-square"></i>
                                <i class="fab fa-twitter-square"></i>
                                <i class="fab fa-github"></i>
                                <i class="fab fa-instagram"></i>
                                </div>
                            </div>
                        </div>  
                    </div>
            </div>
            
            
{% endblock %}
